.vd-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;

}

.vd-container {
  color: white;
  padding: 2rem;
  max-width: 900px;
  margin: 2rem auto; /* Margen auto para centrar horizontalmente */
  background-color: #121212; /* fondo oscuro */
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.5); /* sombra roja suave */
}

.vd-header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
  color: #8B0000; 
  text-align: center; 
}



.vd-director,
.vd-duration,
.vd-year {
  font-size: 1.25rem;
  margin-bottom: 0.3rem;
  color: #ccc;
  text-align: center; /* centra el texto debajo del título */
}

.vd-main {
  display: flex;
  flex-direction: column; /* 👈 Esto fuerza que el thumbnail esté arriba */
  gap: 2rem;
  margin-top: 2rem;
  align-items: center; /* Centra los hijos */
}

.vd-thumbnail {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(217, 83, 79, 0.6);
  flex-shrink: 0;
}

.vd-details {
  flex: 1;
  max-width: 500px;
  font-size: 1.1rem;
}

.vd-details h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #8B0000;
  border-bottom: 2px solid #8B0000;
  padding-bottom: 0.3rem;
}

.vd-details ul {
  list-style-type: disc;
  padding-left: 1.2rem;
  color: #eee;
}

.vd-watch-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  padding: 0.4rem 0.9rem;
  background-color: #8B0000;
  color: white;
  font-weight: 600;
  border-radius: 0.4rem;
  text-decoration: none;
  font-size: 1rem;
  box-shadow: 0 2px 6px rgba(229, 9, 20, 0.4);
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  text-align: center;
  cursor: pointer;
}

.vd-watch-link:hover {
  background-color: #b00610;
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(229, 9, 20, 0.6);
}

.vd-watch-link:active {
  transform: scale(0.97);
  box-shadow: 0 2px 4px rgba(229, 9, 20, 0.3);
}

.vd-actions {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}